@charset "utf-8";
/* CSS Document */

#menu_wrapper{
	width:1080px;
	height:230px;
	background-image:url(../img/bottom_bar.png);
	background-repeat:no-repeat;
	padding-top:10px;
	position:fixed;
	z-index:998;
	bottom:0px;
}


#menu{text-align:center;}

#menu li{
	width:216px;
	height:100px;
	float:left;
	line-height:310px;
	
}

#menu li img{
	text-align:center;
}


.icons{
	float:left;
	line-height:300px;
	margin-top:35px;
}
#home{
	line-height:100px;
	
}

